### 4.6.2 IC  Importing libraries
#### 1 Importing libraries
#### 2 Importing files
#### 3 Merging the dfs
#### 4 Checking by using merge flag
#### 5 Checking without rewriting df
#### 6  Exporting the newly created dataframe as orders_products_merged

### 1 Importing libraries

In [13]:
import pandas as pd
import numpy as np
import os

### 2 Importing files

In [14]:
path=r'C:\Users\user\07-2023 Instacart Basket Analysis\02 Data'

In [15]:
df_orders_products_combined=pd.read_pickle(os.path.join(path,'Prepared Data',
                        'orders_products_combined.pkl'))

In [16]:
df_orders_products_combined

,order_id,user_id,eval_set,order_number,day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,prior,1,2,8,0.0,196.0,1.0,0.0
1,2539329,1,prior,1,2,8,0.0,14084.0,2.0,0.0
2,2539329,1,prior,1,2,8,0.0,12427.0,3.0,0.0
3,2539329,1,prior,1,2,8,0.0,26088.0,4.0,0.0
4,2539329,1,prior,1,2,8,0.0,26405.0,5.0,0.0
...,...,...,...,...,...,...,...,...,...,...
32640693,2977660,206209,prior,13,1,12,7.0,38730.0,6.0,0.0
32640694,2977660,206209,prior,13,1,12,7.0,31477.0,7.0,0.0
32640695,2977660,206209,prior,13,1,12,7.0,6567.0,8.0,0.0
32640696,2977660,206209,prior,13,1,12,7.0,22920.0,9.0,0.0
32640697,272231,206209,train,14,6,14,30.0,NaN,NaN,NaN

In [26]:
df_prods=pd.read_csv(os.path.join(path,'Prepared Data', 'prods_no_duplicates.csv'),index_col=0)

In [27]:
df_prods

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3
...,...,...,...,...,...
49688,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3
49689,49685,En Croute Roast Hazelnut Cranberry,42,1,3.1
49690,49686,Artisan Baguette,112,3,7.8
49691,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,4.7
49692,49688,Fresh Foaming Cleanser,73,11,13.5

### 3. merging the dfs

In [32]:
df_prods_merged=df_prods.merge(df_orders_products_combined, on=['product_id'], how='outer', indicator=True)

In [33]:
df_prods_merged

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,eval_set,order_number,day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,1.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,3139998.0,138.0,prior,28.0,6.0,11.0,3.0,5.0,0.0,both
1,1.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,1977647.0,138.0,prior,30.0,6.0,17.0,20.0,1.0,1.0,both
2,1.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,389851.0,709.0,prior,2.0,0.0,21.0,6.0,20.0,0.0,both
3,1.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,652770.0,764.0,prior,1.0,3.0,13.0,0.0,10.0,0.0,both
4,1.0,Chocolate Sandwich Cookies,61.0,19.0,5.8,1813452.0,764.0,prior,3.0,4.0,17.0,9.0,11.0,1.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32641274,26519.0,NaN,NaN,NaN,NaN,1405103.0,194090.0,prior,21.0,1.0,12.0,9.0,11.0,1.0,right_only
32641275,26519.0,NaN,NaN,NaN,NaN,635307.0,194090.0,prior,35.0,2.0,21.0,3.0,1.0,1.0,right_only
32641276,26519.0,NaN,NaN,NaN,NaN,1940566.0,194090.0,prior,40.0,4.0,21.0,11.0,9.0,1.0,right_only
32641277,26519.0,NaN,NaN,NaN,NaN,550657.0,198251.0,prior,63.0,1.0,16.0,1.0,4.0,0.0,right_only
32641278,26519.0,NaN,NaN,NaN,NaN,723935.0,200065.0,prior,12.0,2.0,12.0,21.0,19.0,0.0,right_only

###  Taking in consideration the size of dfs I prefer to do outer merge

### 4. Checking by using merge flag:

In [21]:
df_prods_merged['_merge'].value_counts()

both          32433030
right_only      208238
left_only           11
Name: _merge, dtype: int64

### 5. Checking without rewriting df:

In [22]:
pd.merge(df_orders_products_combined,df_prods, on=[ 'product_id'], indicator=True)

,order_id,user_id,eval_set,order_number,day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,0.0,196.0,1.0,0.0,195,Soda,77,7,9.0,both
1,2398795,1,prior,2,3,7,15.0,196.0,1.0,1.0,195,Soda,77,7,9.0,both
2,473747,1,prior,3,3,12,21.0,196.0,1.0,1.0,195,Soda,77,7,9.0,both
3,2254736,1,prior,4,4,7,29.0,196.0,1.0,1.0,195,Soda,77,7,9.0,both
4,431534,1,prior,5,4,15,28.0,196.0,1.0,1.0,195,Soda,77,7,9.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32433025,1320836,202557,prior,17,2,15,1.0,43553.0,2.0,1.0,43557,Orange Energy Shots,64,7,3.7,both
32433026,31526,202557,prior,18,5,11,3.0,43553.0,2.0,1.0,43557,Orange Energy Shots,64,7,3.7,both
32433027,758936,203436,prior,1,2,7,0.0,42338.0,4.0,0.0,42342,"Zucchini Chips, Pesto",50,19,6.9,both
32433028,2745165,203436,prior,2,3,5,15.0,42338.0,16.0,1.0,42342,"Zucchini Chips, Pesto",50,19,6.9,both
32433029,3093936,205420,prior,1,4,14,0.0,28818.0,8.0,0.0,28820,Hot Oatmeal Multigrain Raisin,130,14,10.3,both

In [23]:
pd.merge(df_orders_products_combined,df_prods, on=['product_id'], indicator=True) ['_merge'].value_counts()

both          32433030
left_only            0
right_only           0
Name: _merge, dtype: int64

#### Eliminating unusable colunms if needed: df_prods_merge=df_prods_merged.drop(columns=['Unnamed: 0_x','Unnamed: 0_y', '_merge','Unnamed: 0.1'])

In [36]:
df_prods_merged.shape

(32641279, 15)

### 6. Exporting the newly created dataframe as orders_products_merged in a suitable format (taking into consideration the size)

In [38]:
df_prods_merged.to_pickle(os.path.join(path,'Prepared Data','orders_products_merged.pkl'))