### 4.9- Part 1. Data Visualization with Python.

#### 4.9-1 Import libraries

In [1]:
import pandas as pd
import numpy as np
import os

#### 4.9-1-1 Import files

In [2]:
path=r'C:\Users\user\07-2023 Instacart Basket Analysis\02 Data'

In [3]:
df1=pd.read_pickle(os.path.join(path, 'Prepared Data','small1_merged.pkl'))

In [4]:
df2=pd.read_pickle(os.path.join(path, 'Prepared Data','small2_merged.pkl'))

In [5]:
df3=pd.read_pickle(os.path.join(path, 'Prepared Data','small3_merged.pkl'))

In [6]:
df4=pd.read_pickle(os.path.join(path, 'Prepared Data','small4_merged.pkl'))

In [7]:
df5=pd.read_pickle(os.path.join(path, 'Prepared Data','small5_merged.pkl'))

##### 4.9.1-2 cocatenating 5 parts of the merged Instacart data

In [8]:
frames=[df1,df2,df3,df4,df5]

In [9]:
df_concat=pd.concat(frames)

In [10]:
df_concat

,user_id,Gender,STATE,Age,date_joined,n_dependants,fam_status,income,Full_Name,product_id,...,reordered,price_range_loc,busiest_day,busiest days,max_order,loyalty_flag,mean_price,spender_flag,median_days_sinse_ord,frequent_flag
0,26711,Female,Missouri,48,1/1/2017,3,married,165665,Deborah Esquivel,196,...,1,mid_range_product,Regularly days,Regularly days,9,New customer,7.988889,Low spender,19,Regular customer
1,26711,Female,Missouri,48,1/1/2017,3,married,165665,Deborah Esquivel,6184,...,1,low_range_product,Busiest days,Busiest days,9,New customer,7.988889,Low spender,19,Regular customer
2,26711,Female,Missouri,48,1/1/2017,3,married,165665,Deborah Esquivel,38928,...,0,mid_range_product,Regularly days,Regularly days,9,New customer,7.988889,Low spender,19,Regular customer
3,26711,Female,Missouri,48,1/1/2017,3,married,165665,Deborah Esquivel,0,...,0,,Regularly days,Regularly days,9,New customer,7.988889,Low spender,19,Regular customer
4,33890,Female,New Mexico,36,1/1/2017,0,single,59285,Patricia Hart,890,...,0,low_range_product,Regularly days,Regularly days,13,Regular customer,7.057534,Low spender,26,Non-frequent customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6464357,81095,Female,California,27,4/1/2020,1,married,99799,Rose Rollins,32403,...,1,mid_range_product,Busiest days,Busiest days,4,New customer,8.273077,Low spender,22,Non-frequent customer
6464358,81095,Female,California,27,4/1/2020,1,married,99799,Rose Rollins,45588,...,0,mid_range_product,Busiest days,Busiest days,4,New customer,8.273077,Low spender,22,Non-frequent customer
6464359,81095,Female,California,27,4/1/2020,1,married,99799,Rose Rollins,0,...,0,,Regularly days,Regularly days,4,New customer,8.273077,Low spender,22,Non-frequent customer
6464360,80148,Female,New York,55,4/1/2020,1,married,57095,Cynthia Noble,25817,...,1,low_range_product,Busiest days,Busiest days,5,New customer,3.886667,Low spender,12,Regular customer
6464361,80148,Female,New York,55,4/1/2020,1,married,57095,Cynthia Noble,48335,...,0,mid_range_product,Regularly days,Regularly days,5,New customer,3.886667,Low spender,12,Regular customer

In [12]:
df_concat.dtypes

user_id                     int64
Gender                     string
STATE                      string
Age                         int64
date_joined                string
n_dependants                int64
fam_status                 string
income                      int64
Full_Name                  string
product_id                  int64
product_name               string
aisle_id                    int64
department_id               int64
prices                    float64
order_id                    int64
eval_set                   string
order_number                int64
day_of_week                 int64
order_hour_of_day           int64
days_since_prior_order      int64
add_to_cart_order           int64
reordered                   int64
price_range_loc            string
busiest_day                string
busiest days               string
max_order                   int64
loyalty_flag               string
mean_price                float64
spender_flag               string
median_days_sinse_ord       int64
frequent_flag              string
dtype: object

### 4.9.1-3 Exporting file

In [13]:
df_concat.to_pickle(os.path.join(path, 'Prepared Data', '491_concat.pkl'))