# 4.10 Part4
#### 1-creating subst for Yang Loyal Consumer
#### 2- creating subset for Mature Loyal Consumer
#### 3-creating subst for Yang Regular Consumer
#### 4- creating subset for Mature Regular Consumer
#### 5-creating subset for Young NewCustomer
#### 6-creating subset for Mature New customer

###  Importing libraries and df w/o PII

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path=r'C:\Users\user\07-2023 Instacart Basket Analysis\02 Data'

In [3]:
df=pd.read_pickle(os.path.join(path,'Prepared Data', 'sample_revenue.pkl'))

In [4]:
df.columns

Index(['user_id', 'Gender', 'STATE', 'Age', 'date_joined', 'n_dependants',
       'fam_status', 'income', 'product_id', 'product_name', 'aisle_id',
       'department_id', 'prices', 'order_id', 'eval_set', 'order_number',
       'day_of_week', 'order_hour_of_day', 'days_since_prior_order',
       'add_to_cart_order', 'reordered', 'price_range_loc', 'busiest_day',
       'busiest days', 'max_order', 'loyalty_flag', 'mean_price',
       'spender_flag', 'median_days_sinse_ord', 'frequent_flag'],
      dtype='object')

In [5]:
df.shape

(31156122, 30)

In [6]:
df.head()

,user_id,Gender,STATE,Age,date_joined,n_dependants,fam_status,income,product_id,product_name,...,reordered,price_range_loc,busiest_day,busiest days,max_order,loyalty_flag,mean_price,spender_flag,median_days_sinse_ord,frequent_flag
0,26711,Female,Missouri,48,1/1/2017,3,married,165665,196,Soda,...,1,mid_range_product,Regularly days,Regularly days,9,New customer,7.988889,Low spender,19,Regular customer
1,26711,Female,Missouri,48,1/1/2017,3,married,165665,6184,Clementines,...,1,low_range_product,Busiest days,Busiest days,9,New customer,7.988889,Low spender,19,Regular customer
2,26711,Female,Missouri,48,1/1/2017,3,married,165665,38928,0% Greek Strained Yogurt,...,0,mid_range_product,Regularly days,Regularly days,9,New customer,7.988889,Low spender,19,Regular customer
3,26711,Female,Missouri,48,1/1/2017,3,married,165665,0,,...,0,,Regularly days,Regularly days,9,New customer,7.988889,Low spender,19,Regular customer
4,33890,Female,New Mexico,36,1/1/2017,0,single,59285,890,Organic Diced Tomatoes,...,0,low_range_product,Regularly days,Regularly days,13,Regular customer,7.057534,Low spender,26,Non-frequent customer

### 1 creating subset for YLC

In [7]:
df_LC=df.loc[df['loyalty_flag'].isin(['Loyal customer'])]

In [8]:
df_LC.head()

,user_id,Gender,STATE,Age,date_joined,n_dependants,fam_status,income,product_id,product_name,...,reordered,price_range_loc,busiest_day,busiest days,max_order,loyalty_flag,mean_price,spender_flag,median_days_sinse_ord,frequent_flag
224,33835,Male,Nebraska,45,1/1/2017,2,married,47988,10258,Pistachios,...,1,low_range_product,Busiest days,Busiest days,43,Loyal customer,4.168707,Low spender,11,Regular customer
225,33835,Male,Nebraska,45,1/1/2017,2,married,47988,10258,Pistachios,...,1,low_range_product,Slowest days,Slowest days,43,Loyal customer,4.168707,Low spender,11,Regular customer
226,33835,Male,Nebraska,45,1/1/2017,2,married,47988,10258,Pistachios,...,1,low_range_product,Busiest days,Busiest days,43,Loyal customer,4.168707,Low spender,11,Regular customer
227,33835,Male,Nebraska,45,1/1/2017,2,married,47988,10258,Pistachios,...,1,low_range_product,Slowest days,Slowest days,43,Loyal customer,4.168707,Low spender,11,Regular customer
228,33835,Male,Nebraska,45,1/1/2017,2,married,47988,10441,Dry Roasted Almonds,...,1,low_range_product,Regularly days,Regularly days,43,Loyal customer,4.168707,Low spender,11,Regular customer

In [9]:
df_LC.shape

(10679578, 30)

In [10]:
df_YLC=df_LC.loc[df_LC ['Age']<=40]

In [11]:
df_YLC

,user_id,Gender,STATE,Age,date_joined,n_dependants,fam_status,income,product_id,product_name,...,reordered,price_range_loc,busiest_day,busiest days,max_order,loyalty_flag,mean_price,spender_flag,median_days_sinse_ord,frequent_flag
1163,127020,Female,Ohio,35,1/1/2017,3,married,68933,1096,9.5 pH Super Hydrating Purified Water,...,0,mid_range_product,Busiest days,Busiest days,42,Loyal customer,9.446305,Low spender,2,Frequent customer
1164,127020,Female,Ohio,35,1/1/2017,3,married,68933,1096,9.5 pH Super Hydrating Purified Water,...,1,mid_range_product,Busiest days,Busiest days,42,Loyal customer,9.446305,Low spender,2,Frequent customer
1165,127020,Female,Ohio,35,1/1/2017,3,married,68933,1096,9.5 pH Super Hydrating Purified Water,...,1,mid_range_product,Regularly days,Regularly days,42,Loyal customer,9.446305,Low spender,2,Frequent customer
1166,127020,Female,Ohio,35,1/1/2017,3,married,68933,1096,9.5 pH Super Hydrating Purified Water,...,1,mid_range_product,Regularly days,Regularly days,42,Loyal customer,9.446305,Low spender,2,Frequent customer
1167,127020,Female,Ohio,35,1/1/2017,3,married,68933,1096,9.5 pH Super Hydrating Purified Water,...,1,mid_range_product,Regularly days,Regularly days,42,Loyal customer,9.446305,Low spender,2,Frequent customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6459954,77311,Female,Vermont,21,4/1/2020,1,living with parents and siblings,92206,48802,Organic Whole Wheat Fusilli Pasta,...,0,mid_range_product,Slowest days,Slowest days,100,Loyal customer,8.336471,Low spender,2,Frequent customer
6459955,77311,Female,Vermont,21,4/1/2020,1,living with parents and siblings,92206,48802,Organic Whole Wheat Fusilli Pasta,...,1,mid_range_product,Busiest days,Busiest days,100,Loyal customer,8.336471,Low spender,2,Frequent customer
6459956,77311,Female,Vermont,21,4/1/2020,1,living with parents and siblings,92206,48869,Barbecue Veggie Burgers,...,1,mid_range_product,Regularly days,Regularly days,100,Loyal customer,8.336471,Low spender,2,Frequent customer
6459957,77311,Female,Vermont,21,4/1/2020,1,living with parents and siblings,92206,49235,Organic Half & Half,...,0,low_range_product,Busiest days,Busiest days,100,Loyal customer,8.336471,Low spender,2,Frequent customer
6459958,77311,Female,Vermont,21,4/1/2020,1,living with parents and siblings,92206,49235,Organic Half & Half,...,1,low_range_product,Slowest days,Slowest days,100,Loyal customer,8.336471,Low spender,2,Frequent customer

In [12]:
df_YLC.to_pickle(os.path.join(path, 'Prepared data', '0YLC.pkl'))

### 2 creating subset for MLC

In [13]:
df_MLC=df_LC.loc[df_LC ['Age']>40]

In [14]:
df_MLC.head(3)

,user_id,Gender,STATE,Age,date_joined,n_dependants,fam_status,income,product_id,product_name,...,reordered,price_range_loc,busiest_day,busiest days,max_order,loyalty_flag,mean_price,spender_flag,median_days_sinse_ord,frequent_flag
224,33835,Male,Nebraska,45,1/1/2017,2,married,47988,10258,Pistachios,...,1,low_range_product,Busiest days,Busiest days,43,Loyal customer,4.168707,Low spender,11,Regular customer
225,33835,Male,Nebraska,45,1/1/2017,2,married,47988,10258,Pistachios,...,1,low_range_product,Slowest days,Slowest days,43,Loyal customer,4.168707,Low spender,11,Regular customer
226,33835,Male,Nebraska,45,1/1/2017,2,married,47988,10258,Pistachios,...,1,low_range_product,Busiest days,Busiest days,43,Loyal customer,4.168707,Low spender,11,Regular customer

In [15]:
df_MLC.to_pickle(os.path.join(path,'prepared data', '0MLC.pkl'))

### 3 creating subset for YRC

In [16]:
df_RC=df.loc[df['loyalty_flag'].isin(['Regular customer'])]

In [17]:
df_RC.head(3)

,user_id,Gender,STATE,Age,date_joined,n_dependants,fam_status,income,product_id,product_name,...,reordered,price_range_loc,busiest_day,busiest days,max_order,loyalty_flag,mean_price,spender_flag,median_days_sinse_ord,frequent_flag
4,33890,Female,New Mexico,36,1/1/2017,0,single,59285,890,Organic Diced Tomatoes,...,0,low_range_product,Regularly days,Regularly days,13,Regular customer,7.057534,Low spender,26,Non-frequent customer
5,33890,Female,New Mexico,36,1/1/2017,0,single,59285,3298,Mozzarella String Cheese,...,1,low_range_product,Busiest days,Busiest days,13,Regular customer,7.057534,Low spender,26,Non-frequent customer
6,33890,Female,New Mexico,36,1/1/2017,0,single,59285,8953,Key Limes,...,0,mid_range_product,Busiest days,Busiest days,13,Regular customer,7.057534,Low spender,26,Non-frequent customer

In [18]:
df_YRC=df_RC.loc[df_RC ['Age']<=40]

In [19]:
df_YRC

,user_id,Gender,STATE,Age,date_joined,n_dependants,fam_status,income,product_id,product_name,...,reordered,price_range_loc,busiest_day,busiest days,max_order,loyalty_flag,mean_price,spender_flag,median_days_sinse_ord,frequent_flag
4,33890,Female,New Mexico,36,1/1/2017,0,single,59285,890,Organic Diced Tomatoes,...,0,low_range_product,Regularly days,Regularly days,13,Regular customer,7.057534,Low spender,26,Non-frequent customer
5,33890,Female,New Mexico,36,1/1/2017,0,single,59285,3298,Mozzarella String Cheese,...,1,low_range_product,Busiest days,Busiest days,13,Regular customer,7.057534,Low spender,26,Non-frequent customer
6,33890,Female,New Mexico,36,1/1/2017,0,single,59285,8953,Key Limes,...,0,mid_range_product,Busiest days,Busiest days,13,Regular customer,7.057534,Low spender,26,Non-frequent customer
7,33890,Female,New Mexico,36,1/1/2017,0,single,59285,9839,Organic Broccoli,...,0,mid_range_product,Regularly days,Regularly days,13,Regular customer,7.057534,Low spender,26,Non-frequent customer
8,33890,Female,New Mexico,36,1/1/2017,0,single,59285,12271,Smoked Pulled Pork,...,0,mid_range_product,Regularly days,Regularly days,13,Regular customer,7.057534,Low spender,26,Non-frequent customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6464332,122741,Male,Michigan,24,4/1/2020,2,married,73357,33493,Cotton Swabs,...,0,low_range_product,Slowest days,Slowest days,11,Regular customer,8.974576,Low spender,30,Non-frequent customer
6464333,122741,Male,Michigan,24,4/1/2020,2,married,73357,35914,Dha Omega 3 Reduced Fat 2% Milk,...,0,low_range_product,Regularly days,Regularly days,11,Regular customer,8.974576,Low spender,30,Non-frequent customer
6464334,122741,Male,Michigan,24,4/1/2020,2,married,73357,36066,SleepGels Nighttime Sleep Aid,...,0,mid_range_product,Busiest days,Busiest days,11,Regular customer,8.974576,Low spender,30,Non-frequent customer
6464335,122741,Male,Michigan,24,4/1/2020,2,married,73357,39268,Cream Antifungal,...,1,mid_range_product,Regularly days,Regularly days,11,Regular customer,8.974576,Low spender,30,Non-frequent customer
6464336,122741,Male,Michigan,24,4/1/2020,2,married,73357,42776,Contacts Contact Lens Comfort Eye Drops,...,0,mid_range_product,Regularly days,Regularly days,11,Regular customer,8.974576,Low spender,30,Non-frequent customer

In [20]:
df_YRC.to_pickle(os.path.join(path,'Prepared Data','0YRC.pkl'))

### 4 creating subset for MRC

In [21]:
df_MRC=df_RC.loc[df_RC['Age']>40]

In [22]:
df_MRC

,user_id,Gender,STATE,Age,date_joined,n_dependants,fam_status,income,product_id,product_name,...,reordered,price_range_loc,busiest_day,busiest days,max_order,loyalty_flag,mean_price,spender_flag,median_days_sinse_ord,frequent_flag
157,69965,Male,Texas,47,1/1/2017,1,married,162432,2295,Yellow Bell Pepper,...,0,mid_range_product,Busiest days,Busiest days,16,Regular customer,8.286667,Low spender,25,Non-frequent customer
158,69965,Male,Texas,47,1/1/2017,1,married,162432,5646,Organic Turkey Bacon,...,0,hight_range_product,Regularly days,Regularly days,16,Regular customer,8.286667,Low spender,25,Non-frequent customer
159,69965,Male,Texas,47,1/1/2017,1,married,162432,5876,Organic Lemon,...,1,low_range_product,Regularly days,Regularly days,16,Regular customer,8.286667,Low spender,25,Non-frequent customer
160,69965,Male,Texas,47,1/1/2017,1,married,162432,14084,Organic Unsweetened Vanilla Almond Milk,...,0,mid_range_product,Regularly days,Regularly days,16,Regular customer,8.286667,Low spender,25,Non-frequent customer
161,69965,Male,Texas,47,1/1/2017,1,married,162432,17304,Powdered Peanut Butter,...,0,mid_range_product,Regularly days,Regularly days,16,Regular customer,8.286667,Low spender,25,Non-frequent customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6464238,74598,Male,Minnesota,52,4/1/2020,0,single,140700,45994,Chicken Franks,...,1,hight_range_product,Regularly days,Regularly days,23,Regular customer,9.601124,Low spender,15,Regular customer
6464239,74598,Male,Minnesota,52,4/1/2020,0,single,140700,45994,Chicken Franks,...,1,hight_range_product,Busiest days,Busiest days,23,Regular customer,9.601124,Low spender,15,Regular customer
6464240,74598,Male,Minnesota,52,4/1/2020,0,single,140700,45994,Chicken Franks,...,1,hight_range_product,Busiest days,Busiest days,23,Regular customer,9.601124,Low spender,15,Regular customer
6464241,74598,Male,Minnesota,52,4/1/2020,0,single,140700,45994,Chicken Franks,...,1,hight_range_product,Regularly days,Regularly days,23,Regular customer,9.601124,Low spender,15,Regular customer
6464242,74598,Male,Minnesota,52,4/1/2020,0,single,140700,45994,Chicken Franks,...,1,hight_range_product,Regularly days,Regularly days,23,Regular customer,9.601124,Low spender,15,Regular customer

In [23]:
df_MRC.to_pickle(os.path.join(path,'Prepared Data','0MRC.pkl'))

### 5 creating subset for YNC

In [24]:
df_NC=df.loc[df['loyalty_flag']=='New customer']

In [25]:
df_NC.head(3)

,user_id,Gender,STATE,Age,date_joined,n_dependants,fam_status,income,product_id,product_name,...,reordered,price_range_loc,busiest_day,busiest days,max_order,loyalty_flag,mean_price,spender_flag,median_days_sinse_ord,frequent_flag
0,26711,Female,Missouri,48,1/1/2017,3,married,165665,196,Soda,...,1,mid_range_product,Regularly days,Regularly days,9,New customer,7.988889,Low spender,19,Regular customer
1,26711,Female,Missouri,48,1/1/2017,3,married,165665,6184,Clementines,...,1,low_range_product,Busiest days,Busiest days,9,New customer,7.988889,Low spender,19,Regular customer
2,26711,Female,Missouri,48,1/1/2017,3,married,165665,38928,0% Greek Strained Yogurt,...,0,mid_range_product,Regularly days,Regularly days,9,New customer,7.988889,Low spender,19,Regular customer

In [26]:
df_YNC=df_NC.loc[df_NC['Age']<=40]

In [27]:
df_YNC

,user_id,Gender,STATE,Age,date_joined,n_dependants,fam_status,income,product_id,product_name,...,reordered,price_range_loc,busiest_day,busiest days,max_order,loyalty_flag,mean_price,spender_flag,median_days_sinse_ord,frequent_flag
19,65803,Male,Idaho,35,1/1/2017,2,married,99568,196,Soda,...,1,mid_range_product,Busiest days,Busiest days,10,New customer,8.375962,Low spender,4,Frequent customer
20,65803,Male,Idaho,35,1/1/2017,2,married,99568,4428,Organic Mushroom & Olive Pizza,...,0,mid_range_product,Busiest days,Busiest days,10,New customer,8.375962,Low spender,4,Frequent customer
21,65803,Male,Idaho,35,1/1/2017,2,married,99568,4432,Tortilla Crusted Tilapia,...,0,mid_range_product,Busiest days,Busiest days,10,New customer,8.375962,Low spender,4,Frequent customer
22,65803,Male,Idaho,35,1/1/2017,2,married,99568,7337,Supremo Pork Chorizo 12 Oz.,...,0,hight_range_product,Busiest days,Busiest days,10,New customer,8.375962,Low spender,4,Frequent customer
23,65803,Male,Idaho,35,1/1/2017,2,married,99568,13417,Strawberry Frozen Greek Yogurt Bars,...,0,low_range_product,Slowest days,Slowest days,10,New customer,8.375962,Low spender,4,Frequent customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6464309,75529,Female,West Virginia,25,4/1/2020,2,married,56513,31720,Organic Whole Milk,...,1,mid_range_product,Regularly days,Regularly days,9,New customer,8.427778,Low spender,30,Non-frequent customer
6464310,75529,Female,West Virginia,25,4/1/2020,2,married,56513,31720,Organic Whole Milk,...,1,mid_range_product,Slowest days,Slowest days,9,New customer,8.427778,Low spender,30,Non-frequent customer
6464311,75529,Female,West Virginia,25,4/1/2020,2,married,56513,37524,Fresh Mozzarella Ball,...,0,low_range_product,Regularly days,Regularly days,9,New customer,8.427778,Low spender,30,Non-frequent customer
6464312,75529,Female,West Virginia,25,4/1/2020,2,married,56513,46667,Organic Ginger Root,...,0,mid_range_product,Busiest days,Busiest days,9,New customer,8.427778,Low spender,30,Non-frequent customer
6464313,75529,Female,West Virginia,25,4/1/2020,2,married,56513,48628,Organic Whole Wheat Bread,...,1,low_range_product,Busiest days,Busiest days,9,New customer,8.427778,Low spender,30,Non-frequent customer

In [28]:
df_YNC.to_pickle(os.path.join(path,'Prepared Data', '0YNC.pkl'))

### 6 creating subset for MNC

In [29]:
df_MNC=df_NC.loc[df_NC['Age']>40]

In [30]:
df_MNC.head(3)

,user_id,Gender,STATE,Age,date_joined,n_dependants,fam_status,income,product_id,product_name,...,reordered,price_range_loc,busiest_day,busiest days,max_order,loyalty_flag,mean_price,spender_flag,median_days_sinse_ord,frequent_flag
0,26711,Female,Missouri,48,1/1/2017,3,married,165665,196,Soda,...,1,mid_range_product,Regularly days,Regularly days,9,New customer,7.988889,Low spender,19,Regular customer
1,26711,Female,Missouri,48,1/1/2017,3,married,165665,6184,Clementines,...,1,low_range_product,Busiest days,Busiest days,9,New customer,7.988889,Low spender,19,Regular customer
2,26711,Female,Missouri,48,1/1/2017,3,married,165665,38928,0% Greek Strained Yogurt,...,0,mid_range_product,Regularly days,Regularly days,9,New customer,7.988889,Low spender,19,Regular customer

In [31]:
df_MNC.to_pickle(os.path.join(path,'Prepared Data', '0MNC.pkl'))