### 4.10 Part4
#### -creating subst for Yang Basic Consumer
#### - creating subset for Mature Basic Consumer
#### -creating subst for Yang Advanced Consumer
#### - creating subset for Mature Advanced Consumer
#### -creating subset for Yang Investor
#### -creating subset for Mature Investor

### 4.10.4-1 Importing libraries and df w/o PII

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path=r'C:\Users\user\07-2023 Instacart Basket Analysis\02 Data'

In [3]:
df=pd.read_pickle(os.path.join(path,'Prepared Data', 'AgeIncome_flag.pkl'))

In [4]:
df.columns

Index(['user_id', 'Gender', 'STATE', 'Age', 'date_joined', 'n_dependants',
       'fam_status', 'income', 'product_id', 'product_name', 'aisle_id',
       'department_id', 'prices', 'order_id', 'eval_set', 'order_number',
       'day_of_week', 'order_hour_of_day', 'days_since_prior_order',
       'add_to_cart_order', 'reordered', 'price_range_loc', 'busiest_day',
       'busiest days', 'max_order', 'loyalty_flag', 'mean_price',
       'spender_flag', 'median_days_sinse_ord', 'frequent_flag',
       'AgeIncome_flag'],
      dtype='object')

In [5]:
df.shape

(31156122, 31)

In [6]:
df.head()

,user_id,Gender,STATE,Age,date_joined,n_dependants,fam_status,income,product_id,product_name,...,price_range_loc,busiest_day,busiest days,max_order,loyalty_flag,mean_price,spender_flag,median_days_sinse_ord,frequent_flag,AgeIncome_flag
0,26711,Female,Missouri,48,1/1/2017,3,married,165665,196,Soda,...,mid_range_product,Regularly days,Regularly days,9,New customer,7.988889,Low spender,19,Regular customer,mature base_consumer
1,26711,Female,Missouri,48,1/1/2017,3,married,165665,38928,0% Greek Strained Yogurt,...,mid_range_product,Regularly days,Regularly days,9,New customer,7.988889,Low spender,19,Regular customer,mature base_consumer
2,26711,Female,Missouri,48,1/1/2017,3,married,165665,0,,...,,Regularly days,Regularly days,9,New customer,7.988889,Low spender,19,Regular customer,mature base_consumer
3,26711,Female,Missouri,48,1/1/2017,3,married,165665,38928,0% Greek Strained Yogurt,...,mid_range_product,Busiest days,Busiest days,9,New customer,7.988889,Low spender,19,Regular customer,mature base_consumer
4,26711,Female,Missouri,48,1/1/2017,3,married,165665,38928,0% Greek Strained Yogurt,...,mid_range_product,Regularly days,Regularly days,9,New customer,7.988889,Low spender,19,Regular customer,mature base_consumer

### 4.10.4-2 creating subset for YBC

In [7]:
df_YBC=df.loc[df['AgeIncome_flag'].isin(['young base_consumer'])]

In [8]:
df_YBC.head()

,user_id,Gender,STATE,Age,date_joined,n_dependants,fam_status,income,product_id,product_name,...,price_range_loc,busiest_day,busiest days,max_order,loyalty_flag,mean_price,spender_flag,median_days_sinse_ord,frequent_flag,AgeIncome_flag
8,33890,Female,New Mexico,36,1/1/2017,0,single,59285,8953,Key Limes,...,mid_range_product,Busiest days,Busiest days,13,Regular customer,7.057534,Low spender,26,Non-frequent customer,young base_consumer
9,33890,Female,New Mexico,36,1/1/2017,0,single,59285,15200,Organic Green Beans,...,mid_range_product,Regularly days,Regularly days,13,Regular customer,7.057534,Low spender,26,Non-frequent customer,young base_consumer
10,33890,Female,New Mexico,36,1/1/2017,0,single,59285,27156,Organic Black Beans,...,mid_range_product,Regularly days,Regularly days,13,Regular customer,7.057534,Low spender,26,Non-frequent customer,young base_consumer
11,33890,Female,New Mexico,36,1/1/2017,0,single,59285,31912,Avocado Oil,...,mid_range_product,Regularly days,Regularly days,13,Regular customer,7.057534,Low spender,26,Non-frequent customer,young base_consumer
12,33890,Female,New Mexico,36,1/1/2017,0,single,59285,196,Soda,...,mid_range_product,Regularly days,Regularly days,13,Regular customer,7.057534,Low spender,26,Non-frequent customer,young base_consumer

In [9]:
df_YBC.shape

(11175292, 31)

In [10]:
df_YBC.to_pickle(os.path.join(path, 'Prepared data', '000YBC.pkl'))

### 4.10.4-3 creating subset for MBC

In [11]:
df_MBC=df.loc[df['AgeIncome_flag'].isin(['mature base_consumer'])]

In [12]:
df_MBC.head(3)

,user_id,Gender,STATE,Age,date_joined,n_dependants,fam_status,income,product_id,product_name,...,price_range_loc,busiest_day,busiest days,max_order,loyalty_flag,mean_price,spender_flag,median_days_sinse_ord,frequent_flag,AgeIncome_flag
0,26711,Female,Missouri,48,1/1/2017,3,married,165665,196,Soda,...,mid_range_product,Regularly days,Regularly days,9,New customer,7.988889,Low spender,19,Regular customer,mature base_consumer
1,26711,Female,Missouri,48,1/1/2017,3,married,165665,38928,0% Greek Strained Yogurt,...,mid_range_product,Regularly days,Regularly days,9,New customer,7.988889,Low spender,19,Regular customer,mature base_consumer
2,26711,Female,Missouri,48,1/1/2017,3,married,165665,0,,...,,Regularly days,Regularly days,9,New customer,7.988889,Low spender,19,Regular customer,mature base_consumer

In [13]:
df_MBC.to_pickle(os.path.join(path,'prepared data', '000MBC.pkl'))

### 4.10.4-4 creating subset for YAC

In [14]:
df_YAC=df.loc[df['AgeIncome_flag'].isin(['young advanced_consumer'])]

In [15]:
df_YAC.head(3)

,user_id,Gender,STATE,Age,date_joined,n_dependants,fam_status,income,product_id,product_name,...,price_range_loc,busiest_day,busiest days,max_order,loyalty_flag,mean_price,spender_flag,median_days_sinse_ord,frequent_flag,AgeIncome_flag
37454,15683,Male,New Mexico,40,1/5/2017,1,married,251211,3689,Beef Broth,...,mid_range_product,Busiest days,Busiest days,10,New customer,488.641935,High spender,10,,young advanced_consumer
37455,15683,Male,New Mexico,40,1/5/2017,1,married,251211,4605,Yellow Onions,...,low_range_product,Busiest days,Busiest days,10,New customer,488.641935,High spender,10,,young advanced_consumer
37456,15683,Male,New Mexico,40,1/5/2017,1,married,251211,8069,Rice Vinegar,...,mid_range_product,Regularly days,Regularly days,10,New customer,488.641935,High spender,10,,young advanced_consumer

In [16]:
df_YAC.to_pickle(os.path.join(path,'Prepared Data','000YAC.pkl'))

### 4.10.4-4 creating subset for MAC

In [17]:
df_MAC=df.loc[df['AgeIncome_flag'].isin(['mature advanced_consumer'])]

In [18]:
df_MAC.head(3)

,user_id,Gender,STATE,Age,date_joined,n_dependants,fam_status,income,product_id,product_name,...,price_range_loc,busiest_day,busiest days,max_order,loyalty_flag,mean_price,spender_flag,median_days_sinse_ord,frequent_flag,AgeIncome_flag
1522,117740,Female,Oregon,55,1/1/2017,1,married,292759,2494,Copper Coated Scrubbing Pads,...,low_range_product,Slowest days,Slowest days,85,Loyal customer,36.928431,High spender,4,Frequent customer,mature advanced_consumer
1523,117740,Female,Oregon,55,1/1/2017,1,married,292759,4210,Whole Milk,...,mid_range_product,Regularly days,Regularly days,85,Loyal customer,36.928431,High spender,4,Frequent customer,mature advanced_consumer
1524,117740,Female,Oregon,55,1/1/2017,1,married,292759,6052,Eggo Chocolate Chip Waffles,...,low_range_product,Slowest days,Slowest days,85,Loyal customer,36.928431,High spender,4,Frequent customer,mature advanced_consumer

In [19]:
df_MAC.to_pickle(os.path.join(path,'Prepared Data', '000MAC.pkl'))

### 4.10.4-5 creating subset for YI

In [20]:
df_YI=df.loc[df['AgeIncome_flag'].isin(['young investor'])]

In [21]:
df_YI.head(3)

Empty DataFrame
Columns: [user_id, Gender, STATE, Age, date_joined, n_dependants, fam_status, income, product_id, product_name, aisle_id, department_id, prices, order_id, eval_set, order_number, day_of_week, order_hour_of_day, days_since_prior_order, add_to_cart_order, reordered, price_range_loc, busiest_day, busiest days, max_order, loyalty_flag, mean_price, spender_flag, median_days_sinse_ord, frequent_flag, AgeIncome_flag]
Index: []

[0 rows x 31 columns]

In [22]:
df_YI.to_pickle(os.path.join(path,'Prepared Data', '000YI.pkl'))

### 4.10.4-6 creating subset for MI

In [23]:
df_MI=df.loc[df['AgeIncome_flag'].isin(['mature investor'])]

In [24]:
df_MI.head(3)

,user_id,Gender,STATE,Age,date_joined,n_dependants,fam_status,income,product_id,product_name,...,price_range_loc,busiest_day,busiest days,max_order,loyalty_flag,mean_price,spender_flag,median_days_sinse_ord,frequent_flag,AgeIncome_flag
44145,136298,Male,New Mexico,47,1/6/2017,3,married,433206,28610,L'Orange Sparkling Natural Mineral Water,...,mid_range_product,Busiest days,Busiest days,11,Regular customer,751.813333,High spender,15,Regular customer,mature investor
44146,136298,Male,New Mexico,47,1/6/2017,3,married,433206,42240,Ultra Soft Facial Tissues,...,mid_range_product,Busiest days,Busiest days,11,Regular customer,751.813333,High spender,15,Regular customer,mature investor
44147,136298,Male,New Mexico,47,1/6/2017,3,married,433206,12817,Original Baked Whole Grain Wheat Crackers,...,low_range_product,Slowest days,Slowest days,11,Regular customer,751.813333,High spender,15,Regular customer,mature investor

In [25]:
df_MI.to_pickle(os.path.join(path,'Prepared Data', '000MI.pkl'))

In [27]:
x=len(df_YBC)+len(df_YAC)+len(df_YI)+len(df_MBC)+len(df_MAC)+len(df_MI)

In [28]:
x

31156122